.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
  width: 24%;
  border-radius: 1.2rem;
  margin-left: 30rem;
  margin-top: 3rem;
  background: linear-gradient(45deg, #171a58 0%, #1b1e5c 48%, #424a7b 100%);
  padding: 2.6rem 2rem;
}
