* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
  'Amaranth', sans-serif;
  background-image: url("../images/background-calculator.jpg");
}